<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/styles.css' | relative_url }}">

</head>
<body>

<header>
    <h1>Portfolio.</h1>
</header>

<nav>
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/about' | relative_url }}">About Me</a>
    <a href="{{ '/experience' | relative_url }}">Experience</a>
    <a href="{{ '/community' | relative_url }}">Community</a>
    <a href="{{ '/projects' | relative_url }}">Projects</a>
</nav>

<section>
    {{ content }}
</section>

<footer>
    <p>THE SKY IS THE LIMIT</p>
</footer>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const textElement = document.getElementById("typing-text");
        const words = ["I'm a Full Stack Developer", "I'm an AI Enthusiast", "I'm an Open-Source contributor",
            "I'm a Software Engineer", "I'm a Car Enthusiast", "I love swimming", "I'm a Watch Enthusiast"];
        let wordIndex = 0;
        let letterIndex = 0;
        let isDeleting = false;

        function typeEffect() {
            let currentWord = words[wordIndex];
            if (isDeleting) {
                textElement.innerHTML = currentWord.substring(0, letterIndex - 1);
                letterIndex--;
            } else {
                textElement.innerHTML = currentWord.substring(0, letterIndex + 1);
                letterIndex++;
            }

            let typingSpeed = isDeleting ? 50 : 100;

            if (!isDeleting && letterIndex === currentWord.length) {
                typingSpeed = 1000; // Pause before deleting
                isDeleting = true;
            } else if (isDeleting && letterIndex === 0) {
                isDeleting = false;
                wordIndex = (wordIndex + 1) % words.length;
                typingSpeed = 500; // Pause before typing the next word
            }

            setTimeout(typeEffect, typingSpeed);
        }

        typeEffect();
    });
</script>

</body>
</html>
