<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/styles.css' | relative_url }}">

</head>
<body>

<header>
    <h1>Portfolio.</h1>
</header>

<nav>
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/about' | relative_url }}">About Me</a>
    <a href="{{ '/community' | relative_url }}">Community</a>
    <a href="{{ '/projects' | relative_url }}">Projects</a>
</nav>

<section>
    {{ content }}
</section>

<footer>
    <p>THE SKY IS THE LIMIT</p>
</footer>

</body>
</html>
